In [1]:
import pandas as pd
import numpy as np

In [3]:
In=pd.read_csv('https://raw.githubusercontent.com/ybifoundation/Dataset/main/Insurance%20Premium.csv')

In [4]:
In.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        1338 non-null   int64
 1   Age       1338 non-null   int64
 2   Gender    1338 non-null   object
 3   BMI       1338 non-null   float64
 4   Children  1338 non-null   int64
 5   Smoker    1338 non-null   object
 6   Region    1338 non-null   object
 7   Premium   1338 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 83.8+ KB

In [5]:
In.describe()

                ID          Age          BMI     Children       Premium
count  1338.000000  1338.000000  1338.000000  1338.000000   1338.000000
mean    669.500000    39.207025    30.663397     1.094918  13270.414798
std     386.391641    14.049960     6.098187     1.205493  12110.012882
min       1.000000    18.000000    15.960000     0.000000   1122.000000
25%     335.250000    27.000000    26.296250     0.000000   4740.000000
50%     669.500000    39.000000    30.400000     1.000000   9382.000000
75%    1003.750000    51.000000    34.693750     2.000000  16640.000000
max    1338.000000    64.000000    53.130000     5.000000  63770.000000

In [6]:
In.describe(include='all')

,ID,Age,Gender,BMI,Children,Smoker,Region,Premium
count,1338.000000,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,NaN,2,NaN,NaN,2,4,NaN
top,NaN,NaN,male,NaN,NaN,no,east,NaN
freq,NaN,NaN,676,NaN,NaN,1064,364,NaN
mean,669.500000,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.414798
std,386.391641,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.012882
min,1.000000,18.000000,NaN,15.960000,0.000000,NaN,NaN,1122.000000
25%,335.250000,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.000000
50%,669.500000,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.000000
75%,1003.750000,51.000000,NaN,34.693750,2.000000,NaN,NaN,16640.000000
max,1338.000000,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.000000

In [10]:
In[['Gender']].value_counts()

Gender
male      676
female    662
dtype: int64

Gender
male      676
female    662
dtype: int64

In [11]:
In.replace({'Gender':{'male':0,'female':1}},inplace=True)

In [12]:
In[['Gender']].value_counts()

Gender
0         676
1         662
dtype: int64

In [13]:
In.replace({'Smoker':{'yes':1,'no':0}},inplace=True)

In [15]:
In[['Smoker']].value_counts()

Smoker
0         1064
1          274
dtype: int64

In [16]:
In.replace({'Region':{'north':0,'east':1,'south':2,'west':3}},inplace=True)

In [17]:
In[['Region']].value_counts()

Region
1         364
2         325
3         325
0         324
dtype: int64

In [18]:
In.head()

   ID  Age  Gender     BMI  Children  Smoker  Region  Premium
0   1   19       1  27.900         0       1       2    16885
1   2   18       0  33.770         1       0       1     1726
2   3   28       0  33.000         3       0       1     4449
3   4   33       0  22.705         0       0       3    21984
4   5   32       0  28.880         0       0       3     3867

In [19]:
In.sample(2)

        ID  Age  Gender     BMI  Children  Smoker  Region  Premium
1223  1224   20       1  24.420         0       1       1    26126
330    331   61       1  36.385         1       1       0    48518

In [20]:
y=In['Premium']

In [21]:
X=In.drop(['ID','Premium'],axis=1)

In [22]:
X

      Age  Gender     BMI  Children  Smoker  Region
0      19       1  27.900         0       1       2
1      18       0  33.770         1       0       1
2      28       0  33.000         3       0       1
3      33       0  22.705         0       0       3
4      32       0  28.880         0       0       3
...   ...     ...     ...       ...     ...     ...
1333   50       0  30.970         3       0       3
1334   18       1  31.920         0       0       0
1335   18       1  36.850         0       0       1
1336   21       1  25.800         0       0       2
1337   61       1  29.070         0       1       3

[1338 rows x 6 columns]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=2529)